
.c-more__list,
.c-more__container {
  max-height: 13.5rem;
  height: auto;
}
.c-more__heading {
  &:after {
    width: .75rem;
    height: .75rem;
    background-image: url("https://unilyweb2020.azureedge.net/media/vs5dubzh/plus-navy.svg");
  }
  &.active {
    &:after {
      background-image: url("https://unilyweb2020.azureedge.net/media/fath3k52/minus-navy.svg");
    }
  }
}
.c-popular {
  .c-popular__link {
    &.active {
      &:after {
        background-image: url("https://unilyweb2020.azureedge.net/media/fath3k52/minus-navy.svg");
      }
    }
  }
}


@media (min-width: 1000px) {
  .c-more {
    .c-more__list {
      a {
        font-size: 1rem !important;
      }
    }
  }
  .hide-overflow-menu-item {
    li {
      a {
        :after {
          bottom: 0 !important;
        }
      }
    }
  }
}