@import "../lightbox/style";


/** Start footer scss  **/
.c-foot {
  font-size: 0.9375rem;

  .c-foot-nav__col {
    flex: 0 0 auto;
    .c-foot__nav {
      li {
        margin-bottom: 15px;
      }
    }
  }
  .c-foot__heading {
    font-size: 0.9375rem;
  }
  .c-popular__heading {
    font-size: 1.25rem;
  }
  .footer-cursor-before-link {
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      position: relative;
      margin-left: -18px;
      margin-right: 6px;
      background: url("../../assets/img/img-cdn/cursor-arrow-navy.svg") no-repeat center;
      background-size: contain;
    }
  }
  .container-wide-1 {
    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .container-wide-2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .c-foot-nav__row {
    margin-top: 0;
    margin-bottom: 30px;

    .mobile-right,
    .mobile-left {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
  .copyright {
    font-size: 14px;
    text-align: center;
  }
  //&.py-type-1 {
  //  padding-top: 40px;
  //  padding-bottom: 100px !important;
  //}
}

@media only screen and (min-width: 768px) {
  .c-foot {
    .column-logo {
      .c-foot__nav {
        padding-top: 15px;
      }
      img {
        margin-top: -10px;
        max-width: 75px;
        height: auto !important;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .c-foot {
    .container-wide-2 {
      max-width: 1200px;
    }
  }
}
@media only screen and (min-width: 1920px) {
  .c-foot {
    .container-wide-2 {
      max-width: 1400px;
    }
  }
}



@media only screen and (min-width: 768px) and (max-width: 830px) {
  .c-foot-nav__col {
    padding: 0 0.3rem;
  }
}








@media only screen and (max-width: 767px) {
  .c-foot {
    display: flex;
    flex-direction: column;
    .container-wide-2 {
      &:first-child {
        //order: 2;
        margin-bottom: 10px;
      }
    }
    .c-foot-nav__row {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      .mobile-right,
      .mobile-left {
        width: auto;
        min-width: 40%;
        max-width: 55%;
        flex-direction: column;
      }
      .mobile-right {
        padding-top: 0;
        .c-foot-nav__col {
          &:not(:first-child) {
            margin-top: auto;
          }
        }
      }
      .c-foot-nav__col {
        margin-bottom: 25px;
      }
      .mobile-left {
        .c-foot-nav__col {
          &:first-child {
            margin-bottom: 10px;
          }
          &:not(:nth-child(1)) {
            &:not(:nth-child(2)) {
              margin-top: auto;
            }
          }
        }
      }
    }
    .c-popular__row.active {
      display: flex;
      flex-wrap: wrap;
      .c-popular__col {
        flex: 0 0 100%;
      }
    }
    .c-foot__logo {
      margin-bottom: 0.625rem !important;
    }
    .copyright {
      text-align: center;
      .c-foot__nav {
        margin-bottom: 0;
      }
    }
  }
  .column-logo {
    img {
      display: none;
    }
  }
}
.c-social__link--youtube:before {
  background-image: url("https://unilyweb2020.azureedge.net/media/4hnfbypb/youtube-navy.svg");
}

/** End footer scss  **/