.c-block-cloud {
  &__wrap {
    display: flex;
    align-items: center;
    background: $color-unily-dark-blue; //linear-gradient(90deg, #3EC8ED 0%, #3FC3A3 100%);
    color: $color-white;
    flex-direction: column;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      height: 100vh;
      flex-direction: row;
      text-align: unset;
    }

    &__heading {
      margin: 0;
      font-weight: normal;

      @media (max-width: $breakpoint-md-down) {
        font-size: rem-size(30px);
      }
    }
  }

  &__heading {
    @extend .heading-01-alt;
    margin-bottom: rem-size(20px);
  }

  &__content {
    @media (min-width: $breakpoint-md) {
      flex: 0 0 50%;
      padding-left: 0px;
      padding-right: rem-size(20px);
    }
  }

  &__info {
    align-self: flex-start;
    margin-top: 1rem;
  }

  &__form {
    background: #fff;
    border-radius: 0.5rem;
    max-width: 32.5rem;
    width: 100%;
    padding: rem-size(30px) rem-size(30px) rem-size(32px);
    color: #1c1c1b;
    position: relative;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    text-align: left;
    margin: auto 0;
  }

  &__brands {
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      opacity: 0.75;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }

      &:not(:first-child) {
        margin-left: rem-size(25px);
      }

      > img {
        display: flex;
        width: 100%;
      }
    }
  }

  &__clients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    list-style: none;
    padding: 0;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: max-content 1fr 1fr 1fr max-content;
    }

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: rem-size(30px) 0;
    }
  }

  @media (min-width: $breakpoint-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem-size(-15px);
    max-width: $site-medium-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: rem-size(15px);
    padding-bottom: rem-size(15px);
    &__wrap {
      overflow: hidden;
    }
  }
}
