.c-block-awards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  list-style: none;
  padding: 0;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: max-content max-content max-content max-content;
    justify-content: space-between;
  }

  &__item {
    margin: rem-size(25px) 0;
    text-align: left;
  }

  &__logo {
    display: flex;
    height: rem-size(60px);
    align-items: center;
    justify-content: flex-start;
  }

  .paragraph-02 {
    font-size: rem-size(16px);
    margin: 0;
  }
}
