// Content Blocks

// Block for clients (squares)
.c-block-02 {
  font-size: rem-size(16px);
  margin-left: rem-size(-20px);
  margin-right: rem-size(-20px);

  @media (min-width: $breakpoint-md) {
    display: flex;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;

    &--alt {
      flex-direction: row-reverse;
    }
  }

  &__content {
    background: $color-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 40px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__media {
    font: 0/0 a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: rem-size(25px 60px 0 60px);
  }

  &__content,
  &__media {
    @media (min-width: $breakpoint-md) {
      flex: 0 0 50%;
    }
  }
}

// 2 column layout, currently on About page
.c-block-03 {
  margin-bottom: rem-size(30px);

  .heading-01-alt {
    margin-bottom: rem-size(13px);
  }

  &__img {
    display: block;
  }

  @media (min-width: $breakpoint-md) {
    position: relative;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem-size(40px);

    &--alt {
      & > *:last-child {
        grid-column: 1;
        grid-row: 1;
      }
      & > *:first-child {
        grid-column: 2;
        grid-row: 1;
      }
    }

    .heading-01-alt {
      margin-bottom: rem-size(20px);
    }

    p {
      margin-bottom: rem-size(30px);
    }

    &__media {
      font: 0/0 a;
    }

    &__img {
      margin-left: auto;
      margin-right: auto;
    }

    &__col {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__content {
      max-width: rem-size(500px);

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.c-block-03__media--img-side {
  margin-left: auto;
  margin-right: rem-size(-20px);
}

.c-block-03--alt .c-block-03__media--img-side {
  margin-left: rem-size(-20px);
  margin-right: auto;
}

@media (max-width: $breakpoint-md-down) {
  .c-block-03__media {
    margin-left: rem-size(-20px) !important;
    margin-right: rem-size(-20px) !important;
  }
  .c-block-03__img {
    margin: 0 !important;
    width: 100% !important;
  }
}

// 2 column layout
.c-block-05 {
  margin-top: rem-size(30px);
  overflow: hidden;
  padding-left: rem-size(20px);
  padding-right: rem-size(20px);

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__row {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      max-width: $site-medium-width;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: rem-size(60px);
      padding-bottom: rem-size(60px);
    }
  }

  &__col {
    padding-bottom: rem-size(30px);

    &:last-child {
      padding-bottom: rem-size(25px);
    }

    @media (min-width: $breakpoint-md) {
      flex: 0 0 50%;
      display: flex;
      padding-bottom: 0;
      align-items: center;
      &:first-child {
        padding-right: 48px;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }

  &__content {
    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
      margin-right: auto;
      max-width: rem-size(460px);
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__media {
    font: 0/0 a;

    @media (min-width: $breakpoint-md) {
      width: 100%;
      max-width: rem-size(460px);
      margin-left: auto;
    }

    &--centered {
      text-align: center;
    }
    &--height-md {
      img {
        max-height: rem-size(450px);
        width: auto;
      }
    }

    @media (min-width: $breakpoint-md) {
      &--width-md {
        img {
          width: 100%;
        }
      }

      &--height-sm {
        img {
          max-height: rem-size(370px);
          width: auto;
        }
      }

      &--height-md {
        img {
          max-height: rem-size(530px);
        }
      }
    }
  }

  .heading-01-alt {
    margin-bottom: rem-size(20px);
    margin-left: 0;
  }

  p {
    margin-bottom: rem-size(30px);
  }

  &--alt {
    .c-block-05__row {
      @media (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
      }

      .c-block-05__col {
        @media (min-width: $breakpoint-md) {
          &:first-child {
            justify-content: flex-start;
            padding-right: 0px;
          }

          &:last-child {
            padding-right: 48px;
            justify-content: flex-end;
          }
        }
      }

      @media (min-width: $breakpoint-md) {
        .c-block-05__content {
          margin-right: 0;
          margin-left: auto;
        }

        .c-block-05__media {
          margin-left: 0;
          margin-right: auto;
          direction:rtl;
        }
      }
    }
  }
}
