// Sticky Header

body.sticky-header {
    .c-head {
        position: fixed !important;
    }

    .c-page {
        padding-top: rem-size(50px);

        @media (min-width: $breakpoint-head) {
            padding-top: rem-size(64px);
        }

        &--top {
            padding-top: rem-size(49px); // Note that this is 49px not 50px to fix white line issue on safari/mobile in some cases
        }
    }
}
