// upcoming events
.w-upcoming-events {

    &-items {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        list-style: none;
    }

    &-item {
        width: 360px;
        flex: 0 0 360px;

        @media (max-width: 767px) {
            width: 280px;
            flex: 0 0 280px;
        }

        margin-right: 20px;

        &-link {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        a {
            background-image: none !important;
        }

        &-media {
            position: relative;
            margin-bottom: 20px;
        }

        &-content {
            .c-metadata__item--date {
                font-size: 16px;

                &::before {
                    margin-left: 0 !important;
                }
            }

            .c-tags__list {
                margin-top: rem-size(20px) !important;
            }
        }
    }
}