// Other

.nav-active {
  @media (max-width: $breakpoint-head-down) {
    height: 100%;
    overflow: hidden;
  }
}

.c-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: rem-size(50px);

  @media (min-width: $breakpoint-head) {
    padding-top: rem-size(64px);
  }

  &--top {
    padding-top: rem-size(50px);

    @media (min-width: $breakpoint-head) {
      padding-top: 0;
    }
  }
}

.c-head--transparent-alt + .c-page--top {
  padding-top: 0;
}

.c-head--transparent-alt + .c-page--top .c-block-video {
  max-height: 100vh !important;
}


// Add to Calendar

.addeventatc {
  z-index: 1 !important;
}


// Subscribe popup

.c-lightbox {

  &.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-unily-black,0.8);
    z-index: 9999;
  }

  &__container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-size(20px);
    //position: fixed;
    //overflow: auto;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    
    @media (min-width: $breakpoint-md) {
      padding: rem-size(40px);
    }
  }

  &__content {
    background: $color-white;
    border-radius: rem-size(4px);
    max-width: rem-size(520px);
    width: 100%;
    padding: rem-size(40px);

  }
}