// Other

.nav-active {
  @media (max-width: $breakpoint-head-down) {
    height: 100%;
    overflow: hidden;
  }
}

.c-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: rem-size(50px);

  @media (min-width: $breakpoint-head) {
    padding-top: rem-size(64px);
  }

  &--top {
    padding-top: rem-size(50px);

    @media (min-width: $breakpoint-head) {
      padding-top: 0;
    }
  }
}

.c-head--transparent-alt + .c-page--top {
  padding-top: 0;
}

.c-head--transparent-alt + .c-page--top .c-block-video {
  max-height: 100vh !important;
}


// Add to Calendar

.addeventatc {
  z-index: 1 !important;
}
