// Variables

// Paths
$cdn-url: "";
@if variable-exists(cdn-url-override) {
  $cdn-url: $cdn-url-override;
} @else {
  $cdn-url: "https://unilyweb2020dev.azureedge.net/";
}

//$fonts-path:  '../fonts/'; // #{$fonts-path}

// Fonts

$font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-alt: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes (for rem-px function)

$rem-size-base: 16px;

// Colors

$color-white: #fff;

// Colours from the Style Guide
$color-unily-light-blue: #3ec8ed;
$color-unily-green: #3fc3a3;
$color-unily-yellow: #fcda0e;
$color-unily-orange: #ff8a00;
$color-unily-pink: #ff2896;
$color-unily-purple: #b479ff;
$color-unily-dark-blue: #112a3f;
$color-unily-mid-blue: #3a90a8;
$color-unily-black: #1c1c1b;
$color-unily-white: #ffffff;
$color-unily-grey-4: #777777;
$color-unily-grey-3: #c7c7c7;
$color-unily-grey-1: #f5f5f5;

// Other Colors
$color-01: #666;
$color-02: #dcdcdc;
$color-03: #1b3449; //search navbar bg
$color-04: #333333;
$color-05: #ff0000;
$color-06: #c8c8c8;
$color-07: #999999;
$color-08: #b4b4b4;
$color-09: #ff00ff;
$color-white-alpha: rgba($color-white, 0.7);

// Site Width
$site-max-width: 1920px;
$site-medium-width: 1020px;
$site-client-elements-width: 1280px;

// Grid Gutter

$gutter-width: 40px;
$gutter-width-sm: 20px;

// Media Queries

$breakpoint-head: 1000px;
$breakpoint-head-down: 999px;

$breakpoint-head-sm: 500px;
$breakpoint-head-sm-down: 499px;

$breakpoint-xs: 375px;
$breakpoint-xs-down: 374px;

$breakpoint-sm: 568px;
$breakpoint-sm-down: 567px;

$breakpoint-md: 768px;
$breakpoint-md-down: 767px;

$breakpoint-lg: 992px;
$breakpoint-lg-down: 991px;

$breakpoint-landscape: 22cm;
