// Functions
@import "functions";

// Variables
@import "variables";

.c-block-cards {
  &__row {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1;
    margin: rem-size(10px) 0;

    @media (min-width: $breakpoint-md) {
      margin: rem-size(10px);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.c-block-card {
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: no-repeat center;
  background-size: cover;
  padding: rem-size(45px) rem-size(75px) rem-size(30px) rem-size(75px);
  border-radius: rem-size(40px);
  overflow: hidden;
  min-height: rem-size(480px);

  @media (min-width: $breakpoint-md) {
    min-height: rem-size(660px);
  }

  .d-card-tag {
    position: absolute;
    top: rem-size(19px);
    right: rem-size(27px);
    float: none;
    padding: 0;
  }
  .d-single-card-content {
    position: relative;

    .d-card-heading {
      line-height: 1.15;
      font-weight: 700;
      color: #1c1c1b;
      margin-bottom: rem-size(25px);
      font-size: rem-size(36px);
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

      @media (min-width: $breakpoint-md) {
        font-size: rem-size(54px);
      }
    }

    p {
      color: #1c1c1b;
    }

    .d-card-img-1 {
      max-width: 80%;
      margin: auto;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
    .d-card-logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      img {
        width: 46%;
        object-fit: contain;
        object-position: left;
        margin-bottom: rem-size(25px);
      }
    }
  }
  .d-card-bottom {
    position: relative;
    margin-top: auto;
    text-align: center;
  }
  .d-card-button {
    font-size: rem-size(16px);
    text-transform: uppercase;
    font-weight: 700;
    color: #1c1c1b;
    border: rem-size(2px) solid #1c1c1b;
    padding: rem-size(5px) rem-size(20px);
    border-radius: rem-size(40px);
    display: inline-block;
    text-align: center;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition-timing-function: ease-in-out;
    &:hover {
      color: #fff;
      background: #1c1c1b;
    }
  }

  &--content-white {
    .d-single-card-content {
      .d-card-heading,
      p {
        color: #fff;
      }
    }
    .d-card-button {
      color: #fff;
      border-color: #fff;
      &:hover {
        color: #1c1c1b;
        background: #fff;
      }
    }
  }
  &--bg-img {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, transparent 100%);
    }
  }

  @media (max-width: $breakpoint-lg-down) {
    padding-right: rem-size(35px);
    padding-left: rem-size(35px);
  }
  @media (max-width: $breakpoint-md-down) {
    max-width: 100%;
  }
}
