.medium_width__low_content {
    max-width: 1016px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}

.max_width_content {
    max-width: 1920px;
    margin: 0 auto;
}

.c-block-client--video {
    max-height: 840px;
}

.c-foot-nav__row {
    margin: 0;
}


@media all and (min-width: 768px) {
    .d-cards .d-cards-list .c-block-05__content {
        max-width: 31.125rem;
    }

    .c-clients__header {
        max-width: 1016px;
    }
}
