.agenda-toggle {
  margin: auto;
  background: none;
  border: solid 2px #3ec8ed;
  border-radius: 25px;
  position: relative;
  display: flex;
  z-index: 0;
  margin-bottom: 30px;
  max-width: 250px;
}
@media (max-width: 767px) {
  .agenda-toggle {
    max-width: 70%;
  }
}
.agenda-toggle-option {
  padding: 10px !important;
  cursor: pointer;
  font-weight: 500;
  flex: 1 1 50%;
  text-align: center;
  z-index: 2;
  color: #3ec8ed;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.agenda-toggle-option-selected {
  color: #fff !important;
}
.agenda-toggle-option:hover {
  background-size: 0 !important;
}
.agenda-toggle-slide {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
  background: #3ec8ed;
  border-radius: 22px;
  left: 0;
  transition-property: left;
  transition-duration: 0.25s;
}

.toggled-agenda {
  display: none;
}
