.agenda-toggle {
  width: fit-content;
  margin: auto;
  background: #f5f5f5;
  border-radius: 24px;
  position: relative;
  display: flex;
  min-width: 50%;
  z-index: 0;
  margin-bottom: 30px;
}
.agenda-toggle-option {
  padding: 10px !important;
  cursor: pointer;
  font-weight: 500;
  flex: 1 1 50%;
  color: #fff;
  text-align: center;
  z-index: 2;
  color: #1c1c1b;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.agenda-toggle-option-selected {
  color: #FFF;
}
.agenda-toggle-option:hover {
  background-size: 0 !important;
}
.agenda-toggle-slide {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
  background: #3ec8ed;
  border-radius: 24px;
  left: 0;
  transition-property: left;
  transition-duration: 0.25s;
}

.toggled-agenda {
  display: none;
}
