.c-head__wrap {
  justify-content: space-between;
}

.c-head__wrap.c-head__wrap--type2 {
  justify-content: center;
}

.bg-gray-dark {
  background-color: #1c1c1b;
}

ul.connected-circles {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.connected-circles__item {
  width: 100px;
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /*border: 1px solid #707070;*/
  flex-shrink: 0;
  /*padding: 20px;*/
}

.connected-circles__item-divider {
  content: '';
  width: 100px;
  height: 0;
  border-bottom: 2px solid #707070;
  display: block;
}

.grid-section-type-1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.grid-section-type-1__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid-section-type-1__col-4 {
  flex: 0 0 33.333333%;
  min-width: 33.333333%;
}

.grid-section-type-1__col-8 {
  flex: 0 0 66.666667%;
  min-width: 66.666667%;
  padding-right: 80px;
  padding-left: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 50px;
  padding-top: 150px;
}

.grid-section-type-1__title {
  font-size: 70px;
  line-height: 100px;
  margin-bottom: 100px;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 275px;
  margin-left: auto;
}

.grid-section-type-1__media img {
  max-width: 100%;
}

.grid-section-type-1__col__content img {
  margin-bottom: 20px;
}

.grid-section-type-1__col__content:nth-child(1) h2 {
  color: #a0f;
}

.grid-section-type-1__col__content:nth-child(2) h2 {
  color: #ff2896;
}

.grid-section-type-1__col__content:nth-child(3) h2 {
  color: #3ec8ed;
}

.grid-section-type-1__col__content:nth-child(4) h2 {
  color: #7D12FF;
}

.grid-section-type-1__col__content .heading-01-alt {
  margin-bottom: 40px;
}

.counter-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
}

.counter-section h2 {
  font-size: 70px;
  line-height: 100px;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 280px;
  margin-bottom: 40px;
}

.counter-wrapper {
  width: calc(100% - 280px);
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  font-size: 80px;
}

.counter-wrapper__item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: yellow;
  font-weight: 700;
  min-width: 225px;
}

.counter-wrapper__item label {
  font-size: 26px;
  font-weight: 500;
  width: 100%;
}
.f-testimonials,
.past-speakers-list {
  overflow-y: hidden;
}

.f-testimonials-wrapper {
  display: flex;
  /*overflow-y: hidden;*/
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: unset;
  flex-direction: row;
  list-style: none;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.f-testimonials__item {
  border-radius: 20px;
  background-color: rgba(125, 18, 255, 0.24);
  padding: 70px 40px 50px;
  text-align: center;
  width: 500px;
  flex-shrink: 0;
  margin-right: 32px;
  margin-left: 32px;
  position: relative;
}

/*.f-testimonials__item:first-child {*/
/*  !*margin-left: 25%;*!*/
/*}*/

/*.f-testimonials__item:last-child {*/
/*  !*margin-right: 25%;*!*/
/*}*/

.f-testimonials__quote-before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.f-testimonials__quote-before svg {
  width: 80px;
}

.f-testimonials__quote-after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.f-testimonials__quote-after svg {
  width: 80px;
}

.f-testimonials__text {
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 400;
}

.f-testimonials__author {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.f-testimonials__role {
  margin-bottom: 0;
}

.overflow-unset {
  overflow: unset;
}

.hero-section {
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 43.75%;
}

.hero-section:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: radial-gradient(rgba(0, 0, 0, .3) 25%, transparent 80%);
}

.hero-section--type2:after {
  color: rgba(28, 28, 27, 0.53);
  background: rgba(28, 28, 27, .5);
}

.hero-section--type3:after {
  color: rgba(28, 28, 27, 0.53);
  background: linear-gradient(rgba(28, 28, 27, .3) 30%, rgba(28, 28, 27, .7) 80%);
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section__text {
  position: absolute;
  right: auto;
  bottom: 80px;
  left: auto;
  color: #fff;
  z-index: 1;
}

.hero-section__text h1 {
  margin-bottom: 5px;
}

.hero-section__text p {
  width: 450px;
  max-width: 100%;
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.speakers-list .speakers-item__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.speakers-list .speakers-item__item img {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 35px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.speakers-list .speakers-item__item h3 {
  margin-bottom: 10px;
}

.speakers-list .speakers-item__item p {
  width: 250px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
}

.speakers-list .speakers-item__item ul {
  list-style: none;
  padding-left: 0;
}

.speakers-list .speakers-item__item ul li::marker {
  content: '';
  color: transparent;
  z-index: -5;
  position: absolute;
}

.speakers-list .speakers-item__item ul li::-webkit-details-marker {
  display:none;
  color: transparent;
  z-index: -5;
  position: absolute;
}

.speakers-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
}

.speakers-wrapper .speakers-item {
  flex: 0 0 14.75rem;
  text-align: center;
  flex-shrink: 0;
}

.speakers-item-last {
  padding-right: 2.5rem;
}

.speakers-wrapper .speakers-item:first-child {
  margin-left: 2.5rem;
}

.speakers-wrapper .speakers-item:last-child {
  margin-right: 2.5rem;
}

.speakers-wrapper .speakers-item:not(:last-child) {
  margin-right: 20px;
}

.speakers-wrapper .speakers-item-media {
  margin-bottom: 10px;
  position: relative;
}

.speakers-wrapper .speakers-item-media:before {
  content: " ";
  height: 0;
  overflow: hidden;
  width: 100%;
  display: block;
  padding-bottom: 100%;
}

.speakers-wrapper .speakers-item-media img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.speakers-item-content .name {
  font-weight: 700;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.4;
}

.scroll-last-item {
  padding: 16px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  width: 720px;
  max-width: 100%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-form input {
  border: 1px solid #dcdcdc;
  margin: 0;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.35;
  padding: 0.75rem 0.9375rem;
  border-radius: 2px 0 0 2px;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.subscribe-form a {
  border-radius: 0 0.125rem 0.125rem 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.35;
  margin: 0;
  cursor: pointer;
  text-align: center;
  padding: 0.75rem 0.9375rem;
  display: block;
  background: #3ec8ed;
  border: 1px solid #3ec8ed;
  color: #fff;
  white-space: normal;
  width: auto;
}

.faq-section-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.faq-section-title-wrapper h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.faq-section-title-wrapper button {
  color: #FF2896;
  font-size: 18px;
  margin-bottom: 0;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.faq-item {
  border-bottom: 2px solid #DCDCDC;
}

.faq-question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
}

.faq-question-wrapper h4 {
  font-size: 18px;
  /*font-weight: 400;*/
  margin-bottom: 0;
}

.faq-question-wrapper .faq-arrow {
  background: url("../img/arrow-down5.svg") no-repeat center;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  flex-shrink: 0;
  margin-left: 40px;
  transition: all 250ms ease-in-out;
}

.faq-question-wrapper.active .faq-arrow {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.faq-answer p {
  padding: 10px 0 20px 0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}