@charset "UTF-8";
.teamtailor-jobs-widget {
  padding-top: 40px;
}

.teamtailor-jobs__job-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.teamtailor-jobs__job::before {
  content: "Careers";
  border: 0.0625rem solid #288873;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  color: #288873;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  font-size: 0.8125rem;
  background-image: none !important;
  line-height: 17px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: text-bottom;
}

.teamtailor-jobs__job {
  flex: 0 0 33.333333%;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .teamtailor-jobs__job {
    flex: 0 0 50%;
  }
}

.teamtailor-jobs__job-title {
  font-weight: 700;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: #1c1c1b;
}

.teamtailor-jobs__job-info {
  display: block;
  font-weight: 500;
  color: #666;
  line-height: 1.2;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
  font-size: 0;
  line-height: 0;
}

.teamtailor-jobs__department {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.teamtailor-jobs__region {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.teamtailor-jobs__region::after {
  content: ", ";
}

.teamtailor-jobs__location {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}
