.comparison-table {
  width: 100%;
}
.comparison-table .header {
  display: flex;
  padding: 30px 0;
}
.comparison-table .header-item {
  flex: 1;
}
.comparison-table .header-item-title {
  display: block;
  width: fit-content;
  font-weight: bold;
  margin: auto;
  margin-bottom: 20px;
}
.comparison-table .header-item-button {
  display: block;
  background: #F0F;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: fit-content;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}
.comparison-table .row {
  display: flex;
  padding: 20px 0;
  border-bottom: solid 1px #AFAFAF;
}
.comparison-table .row:last-of-type {
  border-bottom: none;
}
.comparison-table .row-item {
  flex: 1;
  position: relative;
}
.comparison-table .row-item-description {
  font-weight: bold;
}
.comparison-table .row-item-checked::before {
  content: "";
  background: url("../img/circle-check-black.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
}
