.c-block-home__media {
  position: relative;
}

.c-badge {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s 1.5s;
  -webkit-animation: fadeIn 2s 1.5s;
  -moz-animation: fadeIn 2s 1.5s;
  -o-animation: fadeIn 2s 1.5s;
  -ms-animation: fadeIn 2s 1.5s;
  -webkit-animation-fill-mode: forwards;
}

.c-badge img {
  filter: drop-shadow(5px 5px 10px rgba(28, 28, 27, 0.3));
}

@media (min-width: 768px) {
  .c-block-home__media {
    padding-left: 60px;
  }

  .c-badge {
    left: -5px;
    top: 100px;
    transition: width 0.1s, height 0.1s, left 0.1s, top 0.1s;
  }

  .c-badge:hover {
    height: 110px;
    width: 110px;
    left: -10px;
    top: 95px;
    transition: width 0.1s, height 0.1s, left 0.1s, top 0.1s;
  }
}
@media (max-width: 767px) {
  .c-block-home .link-play {
    margin-top: 50px;
  }

  .c-badge {
    height: 60px;
    width: 60px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    margin: auto;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
