.w-upcoming-events-items {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  list-style: none;
}
.w-upcoming-events-item {
  width: 400px;
  flex: 0 0 400px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .w-upcoming-events-item {
    width: 280px;
    flex: 0 0 280px;
  }
}
.w-upcoming-events-item-link {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.w-upcoming-events-item a {
  background-image: none !important;
}
.w-upcoming-events-item-media {
  position: relative;
  margin-bottom: 20px;
}
.w-upcoming-events-item-content .c-metadata__item--date {
  font-size: 16px;
}
