// Tables

.c-table {
  width: 100%;
  font-size: rem-size(16px);
  margin-bottom: rem-size(30px);
  max-width: rem-size(1040px);
  margin-left: auto;
  margin-right: auto;

  ul, ol {
    padding-left: 1.2rem;
  }

  li {
    margin-bottom: rem-size(5px);
  }

  &__heading {
    font-size: rem-size(16px);
    margin: 0;
    line-height: 1.4;
  }

  &--fixed {
    table-layout: fixed;
  }

  &--agenda,
  &--pricing {
    td:last-child {
      width: 29%;
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid $color-02;
  }

  th {
    padding-bottom: rem-size(10px);
    padding-left: rem-size(10px);
    padding-right: rem-size(10px);
    vertical-align: bottom;
    font-weight: bold;

    //a:not(.link-info) {
    //  color: inherit;

    //  background-image: linear-gradient($color-unily-black, $color-unily-black);
    //  background-position: 0% 100%;
    //  background-repeat: no-repeat;
    //  background-size: 0% 2px;
    //  transition: background-size .3s;
    //  padding-bottom: 2px;

    //  &:hover {
    //    background-size: 100% 2px;
    //  }
    //}

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    small {
      font-weight: normal;
      font-size: inherit;
    }
  }

  td {
    vertical-align: top;
    height: rem-size(70px);
    padding: rem-size(10px);
    padding-bottom: rem-size(5px);
    overflow: hidden;
    text-overflow: ellipsis; // table overflows, not ideal

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  small {
    font-size: rem-size(14px);
  }

  tbody + thead th {
    padding-top: rem-size(70px);

    &:first-child {
      padding-left: 0;
    }
  }
}

.c-pricing {
  position: relative;

  &__legend {
    list-style: none;
    margin: rem-size(0 0 30px 0);
    padding: 0;
    font-size: rem-size(16px);
    display: flex;
    width: 100%;
    max-width: rem-size(1040px);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $breakpoint-md) {
      justify-content: flex-end;
    }

    li {
      margin-right: rem-size(40px);

      &:last-child {
        margin-right: 0;
      }
    }

    .included, .not-included {
      vertical-align: -2px;
      margin-right: rem-size(3px);
    }
  }
}