.c-block-home__img {
    width: 100%;
    padding: 0;
}

.c-block-home__media {
    text-align: center;
}

.c-block-home__slidein {
    margin: 0 -1.25rem 0 1.25rem;
}

.c-block-home__img {
    border-radius: .375rem;
    filter: drop-shadow(5px 5px 10px rgba(28, 28, 27, .3));
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

@media (min-width: 768px) {
    .c-block-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -.9375rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        padding-top: .9375rem;
        padding-bottom: .9375rem;
    }

    .c-block-home__content,
    .c-block-home__media {
        flex: 0 0 50%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .c-block-home__item {
        max-width: 26.6rem;
        margin-left: auto;
        margin-right: auto;
    }

    .c-block-home__media {
        max-width: 840px;
        padding: 0;
    }

    .c-block-01--alt .c-block-01__content:before {
        margin-left: -19.5rem;
    }
}

@media (min-width: 1000px) {
    .c-head__navigation {
        width: 92%;
    }

    .c-nav {
        justify-content: space-between;
    }

    .c-head__wrap {
        justify-content: center;
    }

    .c-head__container {
        width: 100%;
    }
}



@media only screen and (min-width: 1160px) {
    .c-foot .container-wide-2 {
        padding-left: calc(25% - 210px);
        padding: 0;
    }
}

@media only screen and (min-width: 1600px) {
    .c-foot .container-wide-2 {
        padding-left: 190px;
        padding: 0;
    }
}

@media only screen and (min-width: 1670px) {
    .c-foot .container-wide-2 {
        /*        padding-left: 230px;*/
    }

    .c-foot .container-wide-2 {
        max-width: 1010px;
        padding: 0;
    }
}

.c-head__wrap {
    /*    padding: 0rem 0.9375rem;*/
    padding: 0rem;
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.c-foot .container-wide-2 {
    width: 100%;
    max-width: 1010px;
    padding: 0;
}


@media only screen and (max-width: 1050px) {

    .c-foot .container-wide-2,
    .c-head__wrap {
        padding: 0rem 0.9375rem;
    }
}

@media all and (max-width: 999px) {

    .c-head__wrap {
        justify-content: center;
    }

    .c-head__container {
        width: 100%;
    }
}
