.c-block-05--alt .c-block-05__row .c-block-05__col:last-child {
    padding-right: 73px;
    justify-content: flex-end;
    margin-left: 3.6rem;
}

.c-block-05--alt .c-block-05__row .c-block-05__col:first-child {
    margin: 0;
}

@media all and (min-width: 1000px) {
    .c-page {
        padding-top: 0;
    }
}

.btn {
    border: none;
    outline: none;
    background-color: #DCDCDC;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 0;
    cursor: pointer;
}

.c-block_clm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.grid-content-item:nth-of-type(2n+1) .c-block-05__row::before {
     z-index: -1;
     content: " ";
     display: block;
     background: #F5F5F5;
     width: 70.625rem;
     position: absolute;
     left: 50%;
     top: 0;
     bottom: 0;
     margin-left: -20.625rem;
 }

 .grid-content-item:first-of-type .c-block-05__row::before {
     display: none;
 }
