.c-block-05--alt .c-block-05__row .c-block-05__col:last-child {
    padding-right: 73px;
    justify-content: flex-end;
    margin-left: 3.6rem;
}
.c-block-05--alt .c-block-05__row .c-block-05__col:first-child
{
    margin: 0;
}
