.container.py {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 56.88rem;
}

.c-pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 4.375rem;
}

.c-pricing__legend {

    margin: 0 0 1.875rem;
    max-width: 100%;
}

.c-table {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    max-width: 100%;
}

.c-table td.integrations {
    vertical-align: middle;
}

.included,
.not-included {
    display: none;
}

.reach_icon {
    margin: 0 0.5em 0 0;
    width: 30px;
}

.c-table__heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c-table__heading-main-02 {
    padding: 4.375rem 0 0;
}


@media all and (max-width:768px) {

    .container.py {
        padding: 0 1.25rem;
    }
}
