@import "../css/global.scss";

.c-social__link--linkedin {
  &:before {
    background-size: 1.375rem !important;
  }
}
.random-margin-type-1 {
  //margin-bottom: 7px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .agenda.container {
    padding-left: 40px;
    padding-right: 40px;
    .heading-07-alt {
      margin-bottom: 4.0625rem;
    }
  }
}
@media (max-width: 767px) {
  .c-block-video {
    height: 75vh;
    max-height: 75vh;
  }
}
@supports (-webkit-touch-callout: none) {
  .random-margin-type-1 {
    margin-bottom: 20px;
  }
}